[Unit]
Description=Telltail sync
Wants=network-online.target
After=network-online.target
After=graphical.target

[Service]
Type=simple
ExecStart=/home/ajitid/playground/telltail-sync/telltail-sync --url https://telltail.alai-owl.ts.net --device sd
Environment=DISPLAY=:0

[Install]
WantedBy=default.target

