[Unit]
Description=Telltail Sync
Wants=network-online.target
After=network-online.target
After=graphical.target

[Service]
Type=simple
WorkingDirectory=/home/ajitid/.local/share/telltail
ExecStart=/home/ajitid/.local/share/telltail/telltail-sync --url https://telltail.alai-owl.ts.net --device sd
Environment=DISPLAY=:0

[Install]
WantedBy=default.target