extends javascript-react

snippet imp "import xyz from 'xyz'"
import ${2:$1} from '${1}'
endsnippet

snippet clg "console.log"
console.log(${0});
endsnippet

snippet for "for (const prop of object) { ... }"
for (const ${1:prop} of ${2:object}) {
	${0:$1}
}
endsnippet

snippet fn "function"
function ${1:function_name}(${2}) {
	${0:${VISUAL}}
}
endsnippet

snippet fna "arrow function"
const ${1:function_name} = (${2}) => {
	${0:${VISUAL}}
}
endsnippet
